@charset "UTF-8";
/* ------------------------------------------------

Page    : Start.ly CSS
Version : 1.0
Author  : Surjith S M
URI     : http://themeforest.net/user/surjithctly

TABLE OF CONTENTS
-----------------

1. Header
2. navbar
3. One Page
4. Cards
5. Portfolio
6. Video
7. Team
8. Contact
9. Footer

Copyright © All rights Reserved
Surjith S M / @surjithctly

-------------------------------------------------- */
html, body {
    height: 100%;
    min-height: 100%;
    font-family: 'Dosis', Arial, Sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}

@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .display-3 {
        font-size: 3rem;
    }
}

a {
    color: #2575fc;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover, a:focus, a:active {
    color: #023386;
    text-decoration: none;
}

.link-muted {
    color: #464a4c;
}

.text-light {
    color: rgba(255, 255, 255, 0.7);
}

.link-reverse {
    color: #fff;
}

.link-reverse:hover {
    color: #fff;
    opacity: 0.7;
}

.font-bold {
    font-weight: 700;
}

.my-md {
    margin-top: 2.5em !important;
    margin-bottom: 2.5em !important;
}

.my-lg {
    margin-top: 5em !important;
    margin-bottom: 5em !important;
}

.py-lg {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.mt-lg {
    margin-top: 5em !important;
}

.mb-lg {
    margin-bottom: 5em !important;
}

.mb-4 {
    margin-bottom: 2rem !important;
}

.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.5;
}

.bg-light {
    background-color: #f7f7f9;
}

.bg-white {
    background-color: #fff !important;
}

.bg-primary {
    background-color: #2575fc !important;
}

.light-text {
    color: #b5bcc0;
}

.form-control::-webkit-input-placeholder {
    color: #636c72;
    opacity: 0.5;
}

.form-control::-moz-placeholder {
    color: #636c72;
    opacity: 0.5;
}

.form-control:-ms-input-placeholder {
    color: #636c72;
    opacity: 0.5;
}

.form-control::placeholder {
    color: #636c72;
    opacity: 0.5;
}

.form-control::-webkit-input-placeholder {
    color: #636c72;
    opacity: 0.5;
}

/*FONT*/
.sans-serif-font {
    font-family: "Dosis", Arial, Sans-serif !important;
}

/*-----------------------------------
 * Section
 *-----------------------------------*/
.section {
    padding-top: 3em;
    padding-bottom: 3em;
}

.section-title {
    margin: 2em auto;
}

.btn {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Oswald", "Impact", sans-serif;
    border-radius: 0;
}

.btn-sm {
    font-size: 14px;
    letter-spacing: 0;
}

.btn-lg {
    padding: 1rem 2.5rem;
}

.btn-primary,
.btn-primary:focus {
    background-color: #2575fc;
    border-color: #2575fc;
    color: #fff;
}

.btn-primary:hover, .btn-primary:active,
.btn-primary:focus:hover,
.btn-primary:focus:active {
    color: #fff;
    background-color: #0c65fc;
    border-color: #0c65fc;
}

.btn-outline,
.btn-outline:focus {
    color: #fff;
    background-image: none;
    background-color: transparent;
    border-color: #fff;
}

.btn-outline:hover, .btn-outline:active,
.btn-outline:focus:hover,
.btn-outline:focus:active {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}

.light-theme .btn-outline,
.light-theme .btn-outline:focus, .light-theme
.btn-outline:focus,
.light-theme
.btn-outline:focus:focus {
    color: #fff;
    border-color: #fff;
}

.light-theme .btn-outline:hover, .light-theme .btn-outline:active,
.light-theme .btn-outline:focus:hover,
.light-theme .btn-outline:focus:active, .light-theme
.btn-outline:focus:hover, .light-theme
.btn-outline:focus:active,
.light-theme
.btn-outline:focus:focus:hover,
.light-theme
.btn-outline:focus:focus:active {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-outline-primary {
    color: #2575fc;
    background-image: none;
    background-color: transparent;
    border-color: #2575fc;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    color: #fff;
    background-color: #2575fc;
    border-color: #2575fc;
}

/*-----------------------------------
 * Wrappers
 *-----------------------------------*/
.wrapper {
    width: 100%;
    height: 100%;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background.overlay:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.body-padding {
    margin: 30px;
    height: calc(100% - 60px);
    min-height: calc(100% - 60px);
}

@media (max-width: 767px) {
    .body-padding {
        margin: 15px;
        height: calc(100% - 30px);
        min-height: calc(100% - 30px);
    }
}

.bg-one {
    background-image: url("../images/bg-one.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-minimal {
    background-image: url("../images/minimal.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}

.content-section {
    height: 100%;
    margin-right: 80px;
}

@media (max-width: 767px) {
    .content-section {
        margin-right: 0;
    }
}

.center-content {
    text-align: center;
}

.center-content.text-light {
    color: #fff;
}

.center-content .lead {
    margin: 0 auto;
    max-width: 500px;
}

.padding {
    padding: 35px;
}

.animation {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
    padding: 0 10px;
}

.row.mobile-menu {
    margin-top: 30%;
}

/*-----------------------------------
 * Sidebar
 *-----------------------------------*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    z-index: 2;
}

.sidebar.sidebar-dark {
    background-color: rgba(0, 0, 0, 0.3);
}

.sidebar.sidebar-light {
    background-color: transparent;
}

@media (max-width: 767px) {
    .sidebar.sidebar-dark, .sidebar.sidebar-light {
        background-color: transparent;
    }
}

.hamburger-menu {
    width: 80px;
    height: 50px;
    padding: 17px 25px;
    margin: 10px auto;
    cursor: pointer;
    position: absolute;
    top: 0;
}

.hamburger {
    position: relative;
    width: 100%;
    height: 100%;
}

.hamburger-line {
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.sidebar-light .hamburger-line {
    background-color: #000;
}

.hamburger-line-1 {
    top: 0;
    width: 60%;
}

.hamburger-line-2,
.hamburger-line-3 {
    top: 0;
    bottom: 0;
    margin: auto;
}

.hamburger-line-4 {
    bottom: -1px;
    width: 80%;
}

.sidebar-open .hamburger-line-1,
.sidebar-open .hamburger-line-4 {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.sidebar-open .hamburger-line-2 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sidebar-open .hamburger-line-3 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.social-links {
    margin-bottom: 50px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    white-space: nowrap;
}

@media (max-width: 767px) {
    .social-links {
        display: none;
    }
}

.social-links a {
    font-family: "Oswald", "Impact", sans-serif;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 13px;
    letter-spacing: 5px;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: uppercase;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.social-links a:hover, .social-links a:focus {
    color: #fff;
}

.sidebar-light .social-links a {
    color: rgba(0, 0, 0, 0.5);
}

.sidebar-light .social-links a:hover, .sidebar-light .social-links a:focus {
    color: #000;
}

[class^='vline'] {
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-name: lineanim;
    animation-name: lineanim;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.light-theme [class^='vline'] {
    background: rgba(0, 0, 0, 0.1);
}

.vline-1 {
    left: 20%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.vline-2 {
    left: 40%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.vline-3 {
    left: 60%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.vline-4 {
    left: 80%;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

/*-----------------------------------
 * Content
 *-----------------------------------*/
.fullscreen-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y: auto;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -o-transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.sidebar-open .fullscreen-content {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.fullscreen-content.dark-bg {
    background: #000;
    color: #fff;
}

.fullscreen-content.dark-bg a:not(.btn) {
    color: #fff;
}

.fullscreen-content.dark-bg a:not(.btn):hover, .fullscreen-content.dark-bg a:not(.btn):focus {
    color: rgba(255, 255, 255, 0.7);
}

.fullscreen-content.light-bg {
    background: #fff;
    color: #000;
}

.fullscreen-content.light-bg a:not(.btn) {
    color: #000;
}

.fullscreen-content.light-bg a:not(.btn):hover, .fullscreen-content.light-bg a:not(.btn):focus {
    color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 992px) and (max-width: 1199px) {
    .fullscreen-content {
        padding: 0 50px;
    }
}

/* Feature Block
 * ------------- */
.feature-block {
    text-align: center;
    margin: 2em auto;
}

.feature-block i {
    margin-bottom: 0.3em;
}

.feature-block p {
    margin-top: 1em;
}

.dark-bg .feature-block p {
    color: rgba(255, 255, 255, 0.8);
}

.light-bg .feature-block p {
    color: rgba(0, 0, 0, 0.8);
}

.section-title {
    text-align: center;
    margin-bottom: 4em;
}

.section-title .section-heading {
    font-weight: 700;
    text-transform: uppercase;
}

.section-title p {
    max-width: 600px;
    margin: 0 auto;
}

.team-block {
    text-align: center;
    margin-bottom: 3em;
}

.dark-bg .team-block p {
    color: rgba(255, 255, 255, 0.8);
}

.light-bg .team-block p {
    color: rgba(0, 0, 0, 0.8);
}

.team-block > .animation {
    display: inline-block;
}

/* Slick Slider
 * ------------- */
.slick-slide .img-holder {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

/* Countdown Timer
 * --------------- */
.countdown-wrap {
    margin: 40px 0 20px 0;
}

.countdown-wrap p {
    font-size: 22px;
    margin-bottom: 0;
}

@media (max-width: 500px) {
    .countdown-wrap {
        margin: 10px 0;
    }
}

.countdown {
    padding: 0;
    margin-bottom: 10px;
    text-align: center;
    list-style: none;
}

.countdown li {
    display: inline-block;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px 20px 15px;
    margin-right: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    list-style: none;
    min-width: 150px;
}

.light-theme .countdown li {
    background: transparent;
}

@media (max-width: 767px) {
    .countdown li {
        min-width: 170px;
    }
}

@media (max-width: 500px) {
    .countdown li {
        min-width: 110px;
    }
}

@media (max-width: 500px) {
    .countdown li {
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

.countdown li span {
    font-size: 70px;
    font-weight: bold;
    color: #FFF;
    line-height: 1.0;
    position: relative;
}

.light-theme .countdown li span {
    color: #000;
}

@media (max-width: 992px) {
    .countdown li span {
        font-size: 60px;
    }
}

@media (max-width: 767px) {
    .countdown li span {
        font-size: 40px;
    }
}

@media (max-width: 500px) {
    .countdown li span {
        font-size: 30px;
    }
}

.countdown li p {
    color: rgba(255, 255, 255, 0.55);
    text-transform: uppercase;
    font-size: 15px;
}

.light-theme .countdown li p {
    color: rgba(0, 0, 0, 0.55);
}

.countdown_title {
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.74);
    font-size: 14px;
}

.light-theme .countdown_title {
    color: #000;
}

/* Google Map
 * ------------- */
.google-map {
    height: 560px;
    margin-top: 5em;
}

/* Modal Popup
 * ------------- */
.modal .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal.show.modal-center {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.modal-open .modal.show.modal-center .modal-dialog {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.modal-dark .modal-content {
    background-color: #141414;
    color: #fff;
}

.modal-dark .close {
    color: #fff;
    text-shadow: none;
}

.modal .close {
    position: absolute;
    right: 7px;
    top: 7px;
}

.modal .modal-header {
    border-bottom: 0;
}

.modal .modal-title {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

/* Video BG
 * ------------- */
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.video-container video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../images/poster.jpg") no-repeat;
    background-size: cover;
    -webkit-transition: 1s opacity;
    -o-transition: 1s opacity;
    transition: 1s opacity;
}

/* Forms
 * ------------- */
.md-form {
    position: relative;
    margin-bottom: 2em;
}

.form-group button {
    cursor: pointer;
}

.form-control,
.form-control:focus {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    color: #fff;
    font-family: 'Dosis', Arial, Sans-serif;
}

.light-theme .form-control, .light-theme
.form-control:focus {
    color: #000;
}

.input-material {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
}

/* LABEL  */
label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

/* active state */
.input-material:focus ~ label,
.input-material ~ label.active {
    top: -20px;
    font-size: 14px;
    color: #fff;
}

.light-theme .input-material:focus ~ label, .light-theme
.input-material ~ label.active {
    color: #000;
}

.bar {
    position: relative;
    display: block;
}

.bar:before,
.bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #fff;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.light-theme .bar:before, .light-theme
.bar:after {
    background: #000;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.input-material:focus ~ .bar:before,
.input-material:focus ~ .bar:after {
    width: 50%;
}

/* active state */
.input-material:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS  */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

/*-----------------------------------
 * Animations
 *-----------------------------------*/
@-webkit-keyframes lineanim {
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
    50.1% {
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
}

@keyframes lineanim {
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
    50.1% {
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
    }
}

@-webkit-keyframes show-img-1 {
    0%,
    66.6% {
        visibility: hidden;
    }
    100%,
    66.7% {
        visibility: visible;
    }
}

@keyframes show-img-1 {
    0%,
    66.6% {
        visibility: hidden;
    }
    100%,
    66.7% {
        visibility: visible;
    }
}

@-webkit-keyframes show-btn-1 {
    0%,
    50% {
        visibility: hidden;
    }
    100%,
    50.1% {
        visibility: visible;
    }
}

@keyframes show-btn-1 {
    0%,
    50% {
        visibility: hidden;
    }
    100%,
    50.1% {
        visibility: visible;
    }
}

@-webkit-keyframes slide-bg-2 {
    33.3% {
        -webkit-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: scale(0.05, 1);
        transform: scale(0.05, 1);
    }
    66.6% {
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    66.7% {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
}

@keyframes slide-bg-2 {
    33.3% {
        -webkit-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: scale(0.05, 1);
        transform: scale(0.05, 1);
    }
    66.6% {
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    66.7% {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
}

@-webkit-keyframes slide-bg-1 {
    50% {
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    50.1% {
        -webkit-transform-origin: right center;
        transform-origin: right center;
    }
    100% {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}

@keyframes slide-bg-1 {
    50% {
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    50.1% {
        -webkit-transform-origin: right center;
        transform-origin: right center;
    }
    100% {
        -webkit-transform-origin: right center;
        transform-origin: right center;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}

.animation {
    position: relative;
}

[data-aos=slide-effect-2]:after {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-aos=slide-effect-2] > .animation-inner,
[data-aos=slide-effect-2] > img {
    visibility: hidden;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    position: relative;
}

[data-aos=slide-effect-2].aos-animate > .animation-inner,
[data-aos=slide-effect-2].aos-animate > img {
    -webkit-animation-name: show-img-1;
    animation-name: show-img-1;
}

[data-aos=slide-effect-2]:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.05, 0);
    -ms-transform: scale(0.05, 0);
    transform: scale(0.05, 0);
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-aos=slide-effect-2].anim-dark:after {
    background-color: #000;
}

[data-aos=slide-effect-2].anim-light:after {
    background-color: #fff;
}

[data-aos=slide-effect-2].aos-animate:after {
    -webkit-animation-name: slide-bg-2;
    animation-name: slide-bg-2;
}

/*Button*/
[data-aos=slide-effect-btn] {
    display: inline-block;
    position: relative;
}

[data-aos=slide-effect-btn] a {
    visibility: hidden;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-aos=slide-effect-btn]:after {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-aos=slide-effect-btn]:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

[data-aos=slide-effect-btn].anim-dark:after {
    background-color: #000;
}

[data-aos=slide-effect-btn].anim-light:after {
    background-color: #fff;
}

[data-aos=slide-effect-btn].aos-animate a {
    -webkit-animation-name: show-btn-1;
    animation-name: show-btn-1;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

[data-aos=slide-effect-btn].aos-animate:after {
    -webkit-animation-name: slide-bg-1;
    animation-name: slide-bg-1;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

/*# sourceMappingURL=style.css.map */