@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

body {
    font-family: 'Quicksand', sans-serif !important;
}

@media (min-width: 768px) {
    body {
        background-image: url("http://makeupromania.ro/background.png");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: inherit;
        margin-top: 50px;
    }

    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

/*    --------------------------------------------------
    :: Login Section
    -------------------------------------------------- */
#login {
    padding-top: 50px
}

#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}

#login h1 {
    color: #1fa67b;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

#login .form-group {
    margin-bottom: 25px;
}

#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}

#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}

#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}

#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}

#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}

.doctorimg {
    width: 150px;
}

.toggle.btn {
    min-width: 100px;
}

/*    --------------------------------------------------
    :: Inputs & Buttons
    -------------------------------------------------- */
.form-control {
    color: #212121;
}

.btn-custom {
    color: #fff;
    background-color: #1fa67b;
}

.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

.form-line {
    border-bottom: 1px solid #DDD;
    margin: 0px -15px 12px -15px;
}

/*    --------------------------------------------------
    :: Footer
    -------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}

#footer p {
    margin-bottom: 0;
}

#footer a {
    color: inherit;
}

.removeField {
    cursor: pointer;
    color: red;
}

.profile-group {
    margin-bottom: 20px;
}

.specialities {
    width: 100%;
    margin-bottom: 30px;
}

.specialitie {
    float: left;
}

.qualifications {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.qualification {
    padding: 5px 0px;
    list-style: none;
}

.qualification strong {
    width: 30%;
    float: left;
}

.qualification span {
    width: 70%;
    float: left;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;

}

.form-box {
    border: 1px solid #DDD;
    padding-top: 10px;
    margin-bottom: 10px;
}

.remove {
    color: red;
    cursor: pointer;
    padding: 10px;
    float: right !important;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

@media (max-width: 767px) {
    #page-wrapper {
        margin-top: 10px;
    }
}

.logo {
    width: 200px;
    padding-top: 5px;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

.top-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: nowrap;
}

/* Side Navigation */

@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 250px;
        width: 250px;
        margin-left: -250px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0, 0, 0, .5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav > li > a {
        width: 250px;
        font-weight: 700;
        border-bottom: 1px rgba(0, 0, 0, .3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        border-right: 2px solid blue;
        background-color: #0099ff !important;
    }

    .navbar-nav > li > a {
        padding-bottom: 13px !important;
        padding-top: 13px !important;
    }
}

.side-nav > li > ul {
    padding: 0;
    border-bottom: 1px rgba(0, 0, 0, .3) solid;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    min-width: 15px;
    min-height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
}

.navbar .nav > li > a:hover > .label {
    top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}

.go-line {
    border: 1px solid #ddd;
    margin: 10px 0px;
}

.go-title {
    margin: 0px 20px;
}

.go-title h3 {
    font-weight: 700;
}

.btn-add {
    font-weight: 600;
    border-radius: 0;
}

.btn-back {
    background-color: #DDD;
    font-weight: 600;
    border-radius: 0;
}

.btn-go {
    font-weight: 600;
    border-radius: 0;
}

.panel-default {
    border-radius: 0;
    margin: 15px 20px;
}

.btn i.glyphicon {
    opacity: 0;
}

.btn.active i.glyphicon {
    opacity: 1;
}

.go_checkbox {
    padding: 2px 3px 2px 3px;
    border: 1px solid #000;
    border-radius: 5px;
}

.last-edit {
    margin-top: 8px;
    color: #ff0000;
}

.manage-ads {
    width: 120px;
}

.banner-728 {
    height: 62px;
    width: 500px
}

.banner-300 {
    height: 250px;
    width: 300px
}

.media-imgview {
    width: 330px;
    color: #00a6d8;
    font-weight: 700;
}

.mediaimg {
    cursor: pointer;
    width: 150px;
    padding: 10px;
}

.media-library {
    max-height: 300px;
    overflow: auto;
}

.gocover {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: rgba(45, 45, 45, 0.5) url('/assets/images/loading.gif') no-repeat center center;
}

.small-label {
    font-size: 11px;
    margin-top: -3px;
    font-weight: 300;
}

.navbar-inverse .navbar-nav > .active > a {
    background-color: #0099ff;
    border-right: 3px solid blue;
}

.lead {
    margin: 20px 0px;
}

.ln_solid {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.text-total {
    font-size: 25px;
    font-weight: 700;
}

.titles {
    font-size: 20px;
    font-weight: 500;
}

.bg-gray {
    background-color: #ccc;
}

.detail-link {
    font-weight: 700;
}

.panel-success > .panel-heading {
    background-color: #3C763D;
    color: #FFF;
}

.panel-success > a {
    color: #3C763D;
}

.panel-success {
    border-color: #3C763D;
}

.panel-warning > .panel-heading {
    background-color: #8a6d3b;
    color: #FFF;
}

.panel-warning > a {
    color: #8a6d3b;
}

.panel-warning {
    border-color: #8a6d3b;
}

.panel-danger > .panel-heading {
    background-color: #a94442;
    color: #FFF;
}

.panel-danger > a {
    color: #a94442;
}

.panel-danger {
    border-color: #a94442;
}

.manage-slider {
    width: 350px;
}

/*pricing table*/
.pricing-table {
    width: 230px;
    padding: 0;
    margin: 5px;
    list-style: none;
    float: left;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 2px #d9d9d9;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.pricing-table li {
    width: 100%;
    float: left;
    color: #999;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.pricing-table:hover {
    box-shadow: 0 1px 20px #999
}

.pricing-table .plan {
    padding: 10px 0;
    float: left;
    color: #fff;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #656d78;
    background: -moz-linear-gradient(top, #656d78 0%, #434a54 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #656d78), color-stop(100%, #434a54));
    background: -webkit-linear-gradient(top, #656d78 0%, #434a54 100%);
    background: -o-linear-gradient(top, #656d78 0%, #434a54 100%);
    background: -ms-linear-gradient(top, #656d78 0%, #434a54 100%);
    background: linear-gradient(to bottom, #656d78 0%, #434a54 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#656d78', endColorstr='#434a54', GradientType=0)
}

.pricing-table .table-price {
    padding: 20px 26px;
    float: left;
    font-size: 64px;
    font-weight: 300;
    text-transform: uppercase
}

.pricing-table .table-price .price {
    position: relative;
    display: block;
    width: 120px;
    height: 120px;
    font-weight: 600;
    line-height: 114px;
    text-align: center;
    margin: auto;
    border: 1px solid #000;
    border-radius: 100px;
    overflow: hidden;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.pricing-table .dollar {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px
}

.pricing-table .dollar.single {
    left: 20px
}

.pricing-table:hover .table-price .price {
    background: #656d78;
    color: #fff
}

.pricing-table:hover .table-price .price {
    -webkit-animation: toRightFromLeft 0.5s forwards;
    -moz-animation: toRightFromLeft 0.5s forwards;
    animation: toRightFromLeft 0.5s forwards
}

@-webkit-keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%)
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%)
    }
    51% {
        opacity: 1
    }
}

@-moz-keyframes toRightFromLeft {
    49% {
        -moz-transform: translate(100%)
    }
    50% {
        opacity: 0;
        -moz-transform: translate(-100%)
    }
    51% {
        opacity: 1
    }
}

@keyframes toRightFromLeft {
    49% {
        transform: translate(100%)
    }
    50% {
        opacity: 0;
        transform: translate(-100%)
    }
    51% {
        opacity: 1
    }
}

.pricing-table .detail {
    position: relative;
    clear: both;
    padding: 8px 26px;
    font-size: 12px;
    border-top: solid 1px #dedede;
    background: #f9f9f9
}

.pricing-table .detail:nth-child(even) {
    background: #f3f3f3
}

.pricing-table .sign-up {
    padding: 12px 26px;
    float: left;
    font-size: 16px;
    text-decoration: none;
    border-top: solid 1px #dedede;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px
}

.pricing-table .sign-up a, a.edit-profile, a.view-profile, a.add-image {
    width: 70%;
    margin: 0 auto;
    padding: 10px 10px;
    display: block;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-transition: background .3s linear;
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    transition: background .3s linear
}

.black .table-price {
    color: #444
}

.black .table-price .price {
    border-color: #444
}

.black:hover .table-price .price {
    background: #444
}

.black .plan, .black .sign-up a {
    background: #444;
    background: -moz-linear-gradient(top, #444 0%, #222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444), color-stop(100%, #222));
    background: -webkit-linear-gradient(top, #444 0%, #222 100%);
    background: -o-linear-gradient(top, #444 0%, #222 100%);
    background: -ms-linear-gradient(top, #444 0%, #222 100%);
    background: linear-gradient(to bottom, #444 0%, #222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444', endColorstr='#222', GradientType=0)
}

.black .sign-up a {
    -webkit-box-shadow: 0 2px 0 0 #000;
    box-shadow: 0 2px 0 0 #000
}

.blue .table-price {
    color: #5d9cec
}

.blue .table-price .price {
    border-color: #5d9cec
}

.blue:hover .table-price .price {
    background: #5d9cec
}

.blue .plan, .blue .sign-up a {
    background: #5d9cec;
    background: -moz-linear-gradient(top, #5d9cec 0%, #4a89dc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d9cec), color-stop(100%, #4a89dc));
    background: -webkit-linear-gradient(top, #5d9cec 0%, #4a89dc 100%);
    background: -o-linear-gradient(top, #5d9cec 0%, #4a89dc 100%);
    background: -ms-linear-gradient(top, #5d9cec 0%, #4a89dc 100%);
    background: linear-gradient(to bottom, #5d9cec 0%, #4a89dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5d9cec', endColorstr='#4a89dc', GradientType=0)
}

.blue .sign-up a {
    -webkit-box-shadow: 0 2px 0 0 #2f69b2;
    box-shadow: 0 2px 0 0 #2f69b2
}

.green .table-price {
    color: #48cfad
}

.green .table-price .price {
    border-color: #48cfad
}

.green:hover .table-price .price {
    background: #48cfad
}

.green .plan, .green .sign-up a {
    background: #48cfad;
    background: -moz-linear-gradient(top, #48cfad 0%, #37bc9b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48cfad), color-stop(100%, #37bc9b));
    background: -webkit-linear-gradient(top, #48cfad 0%, #37bc9b 100%);
    background: -o-linear-gradient(top, #48cfad 0%, #37bc9b 100%);
    background: -ms-linear-gradient(top, #48cfad 0%, #37bc9b 100%);
    background: linear-gradient(to bottom, #48cfad 0%, #37bc9b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#48cfad', endColorstr='#37bc9b', GradientType=0)
}

.green .sign-up a {
    -webkit-box-shadow: 0 2px 0 0 #168e70;
    box-shadow: 0 2px 0 0 #168e70
}

.grey .table-price {
    color: #920083
}

.grey .table-price .price {
    border-color: #920083
}

.grey:hover .table-price .price {
    background: #920083
}

.grey .plan, .grey .sign-up a, a.edit-profile {
    background: #920083;
    background: -moz-linear-gradient(top, #434a54 0%, #920083 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #434a54), color-stop(100%, #920083));
    background: -webkit-linear-gradient(top, #434a54 0%, #920083 100%);
    background: -o-linear-gradient(top, #434a54 0%, #920083 100%);
    background: -ms-linear-gradient(top, #434a54 0%, #920083 100%);
    background: linear-gradient(to bottom, #434a54 0%, #920083 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#434a54', endColorstr='#920083', GradientType=0)
}

a.add-image {
    background: #ce0052;
    background: -moz-linear-gradient(top, #434a54 0%, #ce0052 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #434a54), color-stop(100%, #ce0052));
    background: -webkit-linear-gradient(top, #434a54 0%, #ce0052 100%);
    background: -o-linear-gradient(top, #434a54 0%, #ce0052 100%);
    background: -ms-linear-gradient(top, #434a54 0%, #ce0052 100%);
    background: linear-gradient(to bottom, #434a54 0%, #ce0052 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#434a54', endColorstr='#ce0052', GradientType=0)
}

a.view-profile {
    background: #36a31d;
    background: -moz-linear-gradient(top, #1a7b03 0%, #36a31d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a7b03), color-stop(100%, #36a31d));
    background: -webkit-linear-gradient(top, #1a7b03 0%, #36a31d 100%);
    background: -o-linear-gradient(top, #1a7b03 0%, #36a31d 100%);
    background: -ms-linear-gradient(top, #1a7b03 0%, #36a31d 100%);
    background: linear-gradient(to bottom, #1a7b03 0%, #36a31d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a7b03', endColorstr='#36a31d', GradientType=0)
}

.grey .sign-up a, a.edit-profile, a.add-image {
    -webkit-box-shadow: 0 2px 0 0 #222;
    box-shadow: 0 2px 0 0 #222
}

/* Red */
.red .table-price {
    color: #ed5565
}

.red .table-price .price {
    border-color: #ed5565
}

.red:hover .table-price .price {
    background: #ed5565
}

.red .plan, .red .sign-up a {
    background: #ed5565;
    background: -moz-linear-gradient(top, #ed5565 0%, #da4453 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed5565), color-stop(100%, #da4453));
    background: -webkit-linear-gradient(top, #ed5565 0%, #da4453 100%);
    background: -o-linear-gradient(top, #ed5565 0%, #da4453 100%);
    background: -ms-linear-gradient(top, #ed5565 0%, #da4453 100%);
    background: linear-gradient(to bottom, #ed5565 0%, #da4453 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed5565', endColorstr='#da4453', GradientType=0)
}

.red .sign-up a {
    -webkit-box-shadow: 0 2px 0 0 #a41423;
    box-shadow: 0 2px 0 0 #a41423
}

.orange .table-price {
    color: #ff8f26
}

.orange .table-price .price {
    border-color: #ff8f26
}

.orange:hover .table-price .price {
    background: #ff8f26
}

.orange .plan, .orange .sign-up a {
    background: #ff8f26;
    background: -moz-linear-gradient(top, #ff8f26 0%, #ff7b0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8f26), color-stop(100%, #ff7b0d));
    background: -webkit-linear-gradient(top, #ff8f26 0%, #ff7b0d 100%);
    background: -o-linear-gradient(top, #ff8f26 0%, #ff7b0d 100%);
    background: -ms-linear-gradient(top, #ff8f26 0%, #ff7b0d 100%);
    background: linear-gradient(to bottom, #ff8f26 0%, #ff7b0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8f26', endColorstr='#ff7b0d', GradientType=0)
}

.orange .sign-up a {
    -webkit-box-shadow: 0 2px 0 0 #bd5b00;
    box-shadow: 0 2px 0 0 #bd5b00
}

.purple .table-price {
    color: #ac92ec
}

.purple .table-price .price {
    border-color: #ac92ec
}

.purple:hover .table-price .price {
    background: #ac92ec
}

.purple .plan, .purple .sign-up a {
    background: #ac92ec;
    background: -moz-linear-gradient(top, #ac92ec 0%, #967adc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ac92ec), color-stop(100%, #967adc));
    background: -webkit-linear-gradient(top, #ac92ec 0%, #967adc 100%);
    background: -o-linear-gradient(top, #ac92ec 0%, #967adc 100%);
    background: -ms-linear-gradient(top, #ac92ec 0%, #967adc 100%);
    background: linear-gradient(to bottom, #ac92ec 0%, #967adc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ac92ec', endColorstr='#967adc', GradientType=0)
}

.purple .sign-up a {
    -webkit-box-shadow: 0 2px 0 0 #6f51bb;
    box-shadow: 0 2px 0 0 #6f51bb
}

.yellow .table-price {
    color: #ffc53f
}

.yellow .table-price .price {
    border-color: #ffc53f
}

.yellow:hover .table-price .price {
    background: #ffc53f
}

.yellow .plan, .yellow .sign-up a {
    background: #ffc53f;
    background: -moz-linear-gradient(top, #ffc53f 0%, #f4ac1d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc53f), color-stop(100%, #f4ac1d));
    background: -webkit-linear-gradient(top, #ffc53f 0%, #f4ac1d 100%);
    background: -o-linear-gradient(top, #ffc53f 0%, #f4ac1d 100%);
    background: -ms-linear-gradient(top, #ffc53f 0%, #f4ac1d 100%);
    background: linear-gradient(to bottom, #ffc53f 0%, #f4ac1d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc53f', endColorstr='#f4ac1d', GradientType=0)
}

.yellow .sign-up a {
    -webkit-box-shadow: 0 2px 0 0 #c18700;
    box-shadow: 0 2px 0 0 #c18700
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .pricing-table {
        width: 180px
    }
}

@media only screen and (min-width: 0) and (max-width: 479px) {
    .pricing-table {
        width: 310px
    }
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

.btn-delete {
    background-color: #771186;
    border-color: #771186;
    color: #fff;
}

.btn-delete:hover {
    color: #fff;
}

.progress-bar-success {
    background-color: #9800a1;
}

.top-buffer {
    margin-top: 20px;
}

.fade-scale {
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1);
}

.modal-dialog {
    margin: 150px auto;
}

.cost {
    color: #640070;
}