.azl-map-wrapper {

    position: relative;

}



.azl-map-wrapper {

    z-index: 1;

}



.azl-map-wrapper .azl-map {

    height: 500px;

}



.azl-map-wrapper {

    z-index: 1;

}



.azl-map-wrapper.single .controls {

    top: 5px;

    padding: 0 5px;

    box-sizing: border-box;

}



.azl-map-wrapper.single .azl-map {

    max-height: 300px;

}



.azl-map-wrapper .controls {

    pointer-events: none;

    top: 50px;

    left: 50%;

    width: 100%;

    -webkit-transform: translate(-50%, 0);

    -khtml-transform: translate(-50%, 0);

    -moz-transform: translate(-50%, 0);

    -ms-transform: translate(-50%, 0);

    transform: translate(-50%, 0);

    z-index: 1;

    display: -webkit-box;

    display: -ms-flexbox;

    -webkit-display: flex;

    -khtml-display: flex;

    -moz-display: flex;

    -ms-display: flex;

    display: flex;

    -webkit-box-align: flex-end;

    -webkit-box-align: end;

    -moz-box-align: end;

    -ms-box-align: end;

    -o-box-align: end;

    box-align: end;

    -ms-flex-align: flex-end;

    -ms-flex-align: end;

    -webkit-align-items: flex-end;

    -khtml-align-items: flex-end;

    -moz-align-items: flex-end;

    -ms-align-items: flex-end;

    align-items: flex-end;

    -webkit-box-orient: vertical;

    -moz-box-orient: vertical;

    -ms-box-orient: vertical;

    -o-box-orient: vertical;

    box-orient: vertical;

    -webkit-flex-direction: column;

    -khtml-flex-direction: column;

    -moz-flex-direction: column;

    -ms-flex-direction: column;

    flex-direction: column;

}



@media (min-width: 786px) {

    .azl-map-wrapper .controls {

        max-width: 750px !important;

    }

}



@media (min-width: 992px) {

    .azl-map-wrapper .controls {

        max-width: 970px !important;

    }

}



@media (min-width: 1200px) {

    .azl-map-wrapper .controls {

        max-width: 1170px !important;

    }

}



@media (max-width: 768px) {

    .azl-map-wrapper .controls {

        padding: 0 15px;

        box-sizing: border-box;

    }

}



.azl-map-wrapper .controls > div,

.azl-map-wrapper .controls > a {

    pointer-events: all;

    cursor: pointer;

    padding: 10px;

    margin-bottom: 5px;

    line-height: 1;

    display: table;

    color: #000;

    font-size: 15px;

    background-color: #ffffff;

    -webkit-transition: all 0.3s ease-out;

    -khtml-transition: all 0.3s ease-out;

    -moz-transition: all 0.3s ease-out;

    -ms-transition: all 0.3s ease-out;

    transition: all 0.3s ease-out;

    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    -khtml-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    -ms-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

}



.azl-map-wrapper .controls > div:hover,

.azl-map-wrapper .controls > a:hover {

    color: #000;

}



.azl-map-wrapper .controls > div::after,

.azl-map-wrapper .controls > a::after {

    font-family: FontAwesome;

}



.azl-map-wrapper .controls .toggle {

    display: none;

}



.azl-map-wrapper .controls .zoom-in::after {

    content: "\f00e";

}



.azl-map-wrapper .controls .zoom-out::after {

    content: "\f010";

}



.azl-map-wrapper .controls .fullscreen::after {

    content: "\f0b2";

}



.azl-map-wrapper .controls .locate {

    font-size: 16px;

}



.azl-map-wrapper .controls .locate::after {

    content: "\f05b";

}



.azl-map-wrapper .controls .directions::after {

    content: "\f0a4";

}



@media (max-width: 768px) {

    .azl-map-wrapper .azl-map {

        height: 500px;

    }

}



.azl-map-wrapper .azl-map.fullscreen {

    position: fixed !important;

    width: 100% !important;

    height: 100% !important;

}



#middle .azl-map-wrapper .controls {

    top: 105px;

    margin-top: 100px;

}



@media (max-width: 1199px) {

    #middle .azl-map-wrapper .controls {

        top: 90px;

    }

}



@media (max-width: 991px) {

    #middle .azl-map-wrapper .controls {

        top: 80px;

    }

}



.infobox-wrapper {

    pointer-events: none;

}



.infobox-wrapper > img {

    pointer-events: all;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);

    opacity: 0.5;

    position: absolute !important;

    right: 10px;

    top: 10px;

    z-index: 2;

}



.infobox-wrapper > img:hover {

    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);

    opacity: 1;

}



.infobox-wrapper .entry.azl-location {

    pointer-events: all;

    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    -khtml-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    -ms-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    position: relative;

    margin-bottom: 30px;

    width: 200px;

}



.infobox-wrapper .entry.azl-location::after {

    width: 0px;

    height: 0px;

    border-style: solid;

    border-width: 6px 6px 0 6px;

    border-color: #ffffff transparent transparent transparent;

    position: absolute;

    left: 94px;

    content: "";

    bottom: -6px;

}



.infobox-wrapper .entry.azl-location .entry-thumbnail {

    position: relative;

}



.infobox-wrapper .entry.azl-location .entry-thumbnail .image {

    width: 100%;

    height: auto;

    overflow: hidden;

}



.infobox-wrapper .entry.azl-location .entry-thumbnail .image::after {

    display: block;

    content: "";

    position: absolute;

    width: 100%;

    height: 100%;

    top: 0;

}



.infobox-wrapper .entry.azl-location .entry-thumbnail .image img {

    width: 100%;

}



.infobox-wrapper .entry.azl-location .entry-data {

    background-color: #ffffff;

    padding: 10px;

}



.infobox-wrapper .entry.azl-location .entry-data .entry-header {

    margin: 0 !important;

}



.infobox-wrapper .entry.azl-location .entry-data .entry-header .entry-title {

    margin-bottom: 5px;

    font-weight: 400;

    line-height: 1.5;

    font-size: 16px;

}



.infobox-wrapper .entry.azl-location .entry-data .entry-header .entry-title a {

    color: #000;

}



.infobox-wrapper .entry.azl-location .entry-data .entry-content {

    max-height: 50px;

    overflow: hidden;

    font-weight: 400;

    font-size: 13px;

}



.infobox-wrapper .entry.azl-location .entry-footer {

    margin: 0 !important;

}



.azl-map-wrapper .controls {

    top: 105px;

    margin-top: 100px;

}



.azl-map-wrapper .controls {

    position: absolute;

}



.ad {

    display: none;

}



@media all and (min-width: 800px) {

    /* Give space around window */

    .fancybox-custom-layout {

        border: 40px solid #000;

    }



    /* Update tumbnail grid background color to match color around area */

    .fancybox-custom-layout .fancybox-thumbs {

        background: #000;

    }



    /* Give background solid color */

    .fancybox-custom-layout .fancybox-bg {

        background: #000;

        opacity: 1;

    }



    /* Move caption area to the right side */

    .fancybox-custom-layout .fancybox-caption-wrap {

        top: 0;

        right: 44px;

        bottom: 0;

        left: auto;

        width: 300px;

        padding: 0;

        background: #000;

    }



    /* Adjust content area and right arrow position */

    /* In this example, right distance is caption width (300) + toolbar width (44) */

    .fancybox-custom-layout .fancybox-stage,

    .fancybox-custom-layout .fancybox-arrow--right {

        right: 344px;

    }



    /* Remove top border from caption */

    .fancybox-custom-layout .fancybox-caption {

        padding: 30px 20px;

        border: 0;

    }



    /* Align buttons at the right side  */

    .fancybox-custom-layout .fancybox-toolbar {

        top: 0;

        right: 0;

        bottom: 0;

        left: auto;

        width: 44px;

        background: #5E4950;

    }



    /* Remove background from buttons */

    .fancybox-custom-layout .fancybox-button {

        background: transparent;

    }



    /* Simple advert space */

    .ad {

        display: block;

        position: absolute;

        bottom: 0;

        left: 0;

        padding: 15px;

        color: #fff;

    }



    .ad p {

        margin-top: 0px;

        margin-bottom: 5px;

        font-size: 12px;

    }



    .ad p a {

        color: #fff;

    }



    .fancybox-caption .photo-caption {

        font-size: 16px;

        font-weight: bold;

    }



    .fancybox-caption .photo-description {

        font-size: 14px;

        font-weight: normal;

        font-style: italic;

        padding-top: 5px;



    }

}



#gallery .col-md-3 {

    padding-left: 5px !important;

    padding-right: 5px !important;

}



.videocontent {

    width: 100%;

    max-width: 640px;

    margin: 0 auto;

}



.map_static_zoom {

    position: relative;

    width: 100%;

    background-color: white;

    border-radius: 3px;

    overflow: hidden;

    margin: 0 0 1em 0;

    cursor: pointer;

    display: block;

}



.map-thumb__marker--current {

    display: block;

    width: 40px;

    height: 46px;

    margin-top: -46px;

    margin-left: -11px;

    position: absolute;

    left: 50%;

    top: 50%;

    z-index: 5;

}



#Manichiura-Pedichiura-Oja-Semi a {

    background-color: #fff;

    color: #000;

}



#Manichiura-Pedichiura-Gel a {

    background-color: #fff;

    color: #000;

}



#Manichiura-Pedichiura-Acryl a {

    background-color: #fff;

    color: #000;

}



#Manichiura-Pedichiura-clasica a {

    background-color: #fff;

    color: #000;

}



#Alte-Tehnici a {

    background-color: #fff;

    color: #000;

}



#Toate-Tehnicile a {

    background-color: #fff;

    color: #000;

}



.navbar-right {

    margin-right: 0 !important;

}



.col-md-2.opt-form label {

    background-color: #fff;

    border: 1px solid #ccc;

    border-radius: 4px;

    height: 34px;

    width: 100%;

}



.col-md-2.opt-form label input {

    margin: 0;

    float: left;

    width: 30px;

}



.col-md-2.opt-form label div {

    padding-top: 5px;

    color: #fff;

    font-weight: 600;

    text-align: center;

}



.thumbnail .caption {

    text-align: center;

}



.fancybox-arrow::after {

    background-color: #e7a25f !important;

}



.fancybox-button, .fancybox-infobar__body {

    background: #b2d24b !important;

    opacity: .6;

}



@media screen and (max-device-width: 640px) {

    /*.azl-map-wrapper .azl-map, .azl-map-wrapper .controls {

        display: none;

    }*/



    .azl-map-wrapper .row {

        padding-top: 20px;

    }



    .navbar-bootsnipp .navbar-brand {

        text-transform: uppercase;

        color: #fff;

        font-weight: 600;

        content: 'Meniu';

    }

}



.featured span.premium {

    position: absolute;

    top: 0;

    right: 15px;

    text-align: center;

    text-transform: uppercase;

    color: #000;

    background-color: #db0000;

    font-weight: 700;

    padding: 1px 15px;

    display: inline-block;

    font-size: 15px;

    z-index: 9;

}



span.company {

    position: absolute;

    top: 0;

    left: 15px;

    text-align: center;

    text-transform: uppercase;

    color: #ffffff;

    background-color: #237612;

    font-weight: 700;

    padding: 1px 15px;

    display: inline-block;

    font-size: 15px;

    z-index: 9;

}



.submit input {

    width: auto;

    background-color: transparent;

    font-family: 'Open Sans',sans-serif !important;

    font-weight: 600 !important;

    font-style: normal;

    font-size: 16px;

    line-height: 45px;

    text-transform: uppercase;

    text-align: center;

    white-space: nowrap;

    vertical-align: middle;

    border: none;

    padding: 0px 18px;

    transition: background 0.3s ease,color 0.2s linear;

    box-sizing: border-box;

    outline-offset: 0;

    -webkit-touch-action: manipulation;

    -khtml-touch-action: manipulation;

    -moz-touch-action: manipulation;

    -ms-touch-action: manipulation;

    touch-action: manipulation;

    cursor: pointer;

    -webkit-user-select: none;

    -khtml-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

    background-image: none;

    margin: 0;

    text-decoration: none;

    border-radius: 0 !important;

    position: relative;

    display: inline-block;

    color: #e7a25f;

    -webkit-box-shadow: inset 0px 0px 0px 3px #e7a25f;

    -khtml-box-shadow: inset 0px 0px 0px 3px #e7a25f;

    -moz-box-shadow: inset 0px 0px 0px 3px #e7a25f;

    -ms-box-shadow: inset 0px 0px 0px 3px #e7a25f;

    box-shadow: inset 0px 0px 0px 3px #e7a25f;

    background-color: #ffffff;

    width: 100%;

}

.form-control:focus {

    border-color:#e7a25f;

}

.top-buffer { margin-top:20px; }