/*------------------------------------*\
    1. GENERAL STYLES
\*------------------------------------*/
html, body {
    height: 100%;
}

body {
     background-image: url("http://makeupromania.ro/wallpaper_intro.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif !important;
    overflow: hidden;
}

/* 1-1 TYPHOGRAPHY */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.mdl-typography--display-4,
.mdl-typography--display-3 {
    font-weight: 300;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

a, .mdl-button {
    font-weight: 900;
    font-size: 28px !important;
}

a {
    color: #ff5252;
}

a:hover, a:focus {
    color: #ff5252;
    text-decoration: none;
    outline: none;
}

.mdl-button--primary.mdl-button--primary.mdl-button--fab,
.mdl-button--primary.mdl-button--primary.mdl-button--raised {
    color: #fff;
    background-color: #ff5252;
}

/* 1-3 VERTICAL CENTERING */
.vc-parent {
    height: 100%;
}

.vc-child {
    position: absolute;
    top: 50%;
    left: 20%;
}

/*------------------------------------*\
    X. TOP NAVIGATION
\*------------------------------------*/
#topNav2 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    border: none;
    border-radius: 0;
    -webkit-transition-property: top, box-shadow, background-color;
    transition-property: top, box-shadow, background-color;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

#topNav2.sticky {
    padding-top: 0;
    background-color: #303030;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

#topNav2 .navbar-brand {
    display: block;
    float: none;
    width: auto;
    height: auto;
    min-height: 0;
    padding: 0;
    border-radius: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

#topNav2 .navbar-brand img {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0px;


 
}

/*------------------------------------*\
    3. BANNER AREA
\*------------------------------------*/
#banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.8);
}

.banner-content {
    color: #fff;
}

.banner-content h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-content h4 {
    margin-top: 12px;
    margin-bottom: 22px;
    font-weight: 300;
    text-transform: uppercase;
}

.banner-content a.mdl-button {
    padding: 25px 0;
    height: auto;
    min-width: 150px;
    margin: 0 5px 15px;
}

/*------------------------------------*\
    9. MEDIA QUERIES
\*------------------------------------*/
/* 9-1 LARGE DEVICES, WIDE SCREENS */
@media screen and (min-width: 993px) and (max-width: 1200px) {
}

/* 9-2 MEDIUM DEVICES, DESKTOPS */
@media screen and (max-width: 992px) {
    #topNavbar2 li a {
        display: none;
    }

    #topNav2 .navbar-header {
        float: left;
        margin-left: 0;
    }

    #topNavbar2 {
        float: right;
    }

    #topNavbar2 .nav {
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* 9-3 SMALL DEVICES, TABLETS */
@media screen and (max-width: 768px) {
}

/* 9-4 EXTRA SMALL DEVICES, PHONES */
@media screen and (max-width: 480px) {
    #banner {
        position: relative;
        height: auto;
        min-height: 100%;
    }

    .banner-content h2 {
        font-size: 22px;
        line-height: 16px;
        padding-top: 20px;
    }
    .banner-content a.mdl-button {
        padding: 10px 0;
    }
    a, .mdl-button {
        font-weight: 900;
        font-size: 18px !important;

    }
    #buttons.row {
        position: absolute;
        width: 100%;
    }
}

/*------------------------------------*\
    10. HELPER CLASSES
\*------------------------------------*/
/* 10-1 RESET GUTTER */
.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.no-gutter > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}

/*------------------------------------*\
    COLOR
\*------------------------------------*/
#topNav2 a.navbar-brand span {
    color: #2196F3;
}

/*------------------------------------*\
    BACKGROUND COLOR
\*------------------------------------*/
.banner-content a.mdl-button.mdl-button--accent {
    background-color: #e7a25f;
}

#topNav2 .navbar-brand img {
    
}

#textSlider {
    margin-top: -250px !important;
}

#textSlider .item-1,
#textSlider .item-2,
#textSlider .item-3 {
    position: absolute;
    display: block;
    top: 2em;
    font-size: 2em;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    width: 100%
}

#textSlider .item-1 {
    animation-name: anim-1;
}

#textSlider .item-2 {
    animation-name: anim-2;
}

#textSlider .item-3 {
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3% {
        left: -100%;
        opacity: 0;
    }
    8.3%, 25% {
        left: 0;
        opacity: 1;
    }
    33.33%, 100% {
        left: 110%;
        opacity: 0;
    }
}

@keyframes anim-2 {
    0%, 33.33% {
        left: -100%;
        opacity: 0;
    }
    41.63%, 58.29% {
        left: 0;
        opacity: 1;
    }
    66.66%, 100% {
        left: 110%;
        opacity: 0;
    }
}

@keyframes anim-3 {
    0%, 66.66% {
        left: -100%;
        opacity: 0;
    }
    74.96%, 91.62% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 110%;
        opacity: 0;
    }
}

#buttons.row {
    position: absolute;
    top: 20%;
    width: 100%;
}

.btn-register {
    background-color: #82ad37 !important;
    border-color: #a0dc37 !important;
}

.btn-forgot {
    bottom: 5px;
    position: fixed;
    padding: 25px !important;
    margin: 0 auto !important;
    left:calc(50% - 150px);
}